/* * {
    outline:1px solid red;
} */

/* Colors */

.as-bg-header {
    background-color: #2C3E50;
}

.as-bg-startbootstrap {
    background-color: #1ABC9C;
}

a {
    color:white;
    text-decoration:none;
}

ul {
    list-style-type:none;
    text-decoration:none;
    margin:0;
}

ul > li {
    padding:0;
    margin:0;
}

/* AS */

.as-img-width {
    width:60%;
}

.as-big-text {
    font-size:6rem;
}

.as-big-icon {
    font-size:4rem;
}

.as-bar {
    width:220px;
    height:11px;
    background-color:white;
}
/* Responsive */

